.block {
   padding: 16.9rem 0 9.8rem 0;
   margin-bottom: 18.2rem;
   background-color: $green;
   position: relative;
   &__inner {
      display: flex;
      align-items: center;
   }
   &__img {
      width: 60%;
      height: 61.2rem;
      margin-left: -12rem;
      margin-right: 12%;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__content {
      width: 28%;
      margin-top: -6.3rem;
      &-subtitle {
         font-weight: 700;
         font-size: 2.2rem;
         color: $white;
         margin-bottom: 5.5rem;
      }
      &-title {
         color: $white;
      }
   }
}

@media (max-width: 48em) {
   .block {
      padding: 28vw 0 24.6vw 0;
      margin-bottom: 25.7vw;
      &__inner {
        flex-direction: column-reverse;
      }
      &__img {
         width: 100%;
         height: 71.9vw;
         margin-left: 0;
         margin-right: 0;
         margin: 0 auto;
      }
      &__content {
         width: 80%;
         margin-bottom: 15.9vw;
         margin-top: 0;
         text-align: center;
         &-subtitle {
            font-size: 5.13vw;
            line-height: 145%;
            margin-bottom: 4.4vw;
         }
      }
   }
}