.card {
   margin-bottom: 6rem;
   position: relative;

   &__inner {
      display: flex;
      justify-content: space-between;
      background: $white;
      border-radius: 10rem;
      padding: 2.1rem 2.3rem 2rem 6rem;
      margin-bottom: 6rem;
   }
   &__add {
      background: $white;
      border-radius: 5rem;
      padding: 2.4rem 7.9rem 2.8rem 6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
         font-weight: 700;
         font-size: 2.2rem;
         line-height: 141%;
         width: 13%;
      }
      &-items {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 74.1%;
      }
      &-item {
         position: relative;
         &:not(:last-child) {
            &::after {
               position: absolute;
               content: '';
               right: -4rem;
               top: 1rem;
               width: 1.2px;
               bottom: 1rem;
               background-color: #E2E9E9;
            }
         }
         &-name {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 145%;
            margin-bottom: 0.9rem;
         }
         &-info {
            display: flex;
            align-items: center;
            &-img {
               width: 5.5rem;
               height: 5.5rem;
               border-radius: 50%;
               margin-right: 1.5rem;
               & img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 50%;
               }
            }
            &-i {
               font-weight: 700;
               font-size: 2.7rem;
               line-height: 100%;
               letter-spacing: 0.05em;
               text-transform: uppercase;
               display: flex;
               align-items: center;
               width: 68%;
               &>span {
                  font-size: 1.4rem;
                  letter-spacing: 0;
                  line-height: 140%;
               }
            }
         }
         &:nth-child(2) {
            & .card__add-item-info-i {
               align-items: flex-start;
            }
         }
         &:nth-child(3) {
            & .card__add-item-info-i {
               align-items: flex-end;
            }
         }
      }
   }
   &__slider {
      margin-top: 5.2rem;
      width: 42.8%;
      height: fit-content;
      position: relative;
      &-header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 6.2rem;
         margin-left: 0.2rem;
         &-logo {
            width: 13.7rem;
            height: 2.4rem;
            & img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
         &-like {
            width: 2.7rem;
            height: 2.4rem;
            position: relative;
            cursor: pointer;
            &::after {
               position: absolute;
               content: '';
               width: 2.7rem;
               height: 2.4rem;
               left: 0;
               top: 0;
               background-image: url(../img/icon/like.svg);
               background-size: contain;
               background-repeat: no-repeat;
               background-position: center;
               transition: ease 0.3s;
            }
            &.active {
               &::after {
                  background-image: url(../img/icon/like-activ.svg);
               }
            }
         }
      }
   }
   &__big {
      &-swiper {
         width: 100%;
         height: 49rem;
         border-radius: 5rem;
         margin-bottom: 2.6rem;
      }
      &-slide {
         width: 100%;
         height: 100%;
         border-radius: 5rem;
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5rem;
         }
      }
   }
   &__big {
      &-swiper2 {
         width: 56.1rem;
         height: 48.4rem;
         border-radius: 0;
         margin-bottom: 5rem;
         margin-left: 4rem;
         margin-top: -1.7rem;
         & .card__big-slide {
            border-radius: 0;
            & img {
               border-radius: 0;
            }
         }
      }
   }
   &__small {
      &-swiper {
         width: 69%;
         margin: 0 auto;
         height: 11.1rem;
         filter: drop-shadow(0.23rem 0.23rem 3.6rem rgba(0, 0, 0, 0.08));
      }
      &-slide {
         width: 100%;
         height: 100%;
         border-radius: 6.3rem;
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6.3rem;
         }
      }
   }
   &__btn-next {
      top: unset;
      bottom: 5.2rem;
      right: 1.6rem;
   }
   &__btn-prev {
      top: unset;
      bottom: 5.2rem;
      left: 1.2rem;
   }
   &__content {
      width: 53.3%;
      height: fit-content;
      background: #F2F6F6;
      border-radius: 8.5rem;
      padding: 5rem 5.7rem 6.9rem 6rem;
      &-header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 3rem;
         &-art {
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 150%;
            text-transform: uppercase;
            color: #9BA8A8;
         }
         &-in {
            position: relative;
            background-color: $white;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 150%;
            text-transform: uppercase;
            padding: 1.2rem 1.5rem 0.9rem 4.1rem;
            border-radius: 100rem;
            &::after {
               position: absolute;
               content: '';
               left: 1.5rem;
               top: 50%;
               transform: translateY(-50%);
               width: 1.5rem;
               height: 1.5rem;
               border-radius: 50%;
               background-color: $green;
               box-shadow: 0.6rem 1rem 3rem rgba(0, 0, 0, 0.05);
            }
         }
      }
      &-title {
         margin-bottom: 3.5rem;
      }
      & h1 {
         margin-bottom: 3.5rem;
      }
      &-colors {
         display: flex;
         margin-bottom: 3.5rem;
      }
      &-color {
         width: 3.3rem;
         height: 3.3rem;
         border-radius: 50%;
         position: relative;
         box-shadow: 0.6rem 1rem 3rem rgba(0, 0, 0, 0.05);
         border: 0.6rem solid $white;
         &:not(:last-child) {
            margin-right: 1.3rem;
         }
         &.green {
            background-color: #7AC361;
         }
         &.blue {
            background-color: #50A3BD;
         }
         &.purple {
            background-color: #7567CB;
         }
         &.yellow {
            background-color: #F3D949;
         }
      }
      &-info {
         display: flex;
         justify-content: space-between;
         margin-bottom: 5.6rem;
         &-text {
            width: 48%;
            line-height: 150%;
         }
         &-selects {
            width: 46.2%;
         }
         &-select {
            position: relative;
            &::after {
               position: absolute;
               content: '';
               left: 0;
               bottom: -0.9rem;
               width: 100%;
               height: 1.2px;
               background-color: #9BA8A8;
            }
            &:not(:last-child) {
               margin-bottom: 3.7rem;
            }
            & .select-text {
               width: auto;
               &::after {
                  right: 0;
               }
            }
            & .select-dropdown {
               top: 2.8rem;
               border-radius: 3rem;
               width: 100%;
            }
         }
      }
      &-costs {
         display: flex;
         align-items: center;
         margin-bottom: 2.5rem;
         &-cost {
            display: flex;
            align-items: flex-start;
            font-weight: 700;
            font-size: 4.5rem;
            line-height: 104%;
            margin-right: 1.2rem;
            &>span {
               margin-left: 0.5rem;
               font-size: 2.3rem;
               line-height: 120%;
               letter-spacing: 0.05em;
               text-transform: uppercase;
            }
         }
         &-sale {
            display: flex;
            align-items: flex-start;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 145%;
            color: #9BA8A8;
            text-decoration: line-through;
            &>span {
               font-size: 1.2rem;
               line-height: 200%;
               letter-spacing: 0.05em;
               text-transform: uppercase;
            }
         }
      }
      &-btns {
         display: flex;
         align-items: center;
         &-quantity {
            margin-right: 1.3rem;
            background: $white;
            border-radius: 100rem;
            padding: 1rem 3.8rem 1rem 3rem;
            display: flex;
            align-items: center;
            height: 8.7rem;
            &-minus {
               width: 5.5rem;
               height: 5.5rem;
               padding: 2rem;
               cursor: pointer;
               & img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
               }
            }
            &-num {
               font-weight: 700;
               font-size: 2.2rem;
               line-height: 145%;
               text-align: center;
               width: 4rem;
               margin: 0 2.8rem 0 2.6rem;
               background-color: transparent;
               border: none;
               outline: none;
               padding: 0;
            }
            &-plus {
               width: 5.5rem;
               height: 5.5rem;
               padding: 2rem;
               cursor: pointer;
               & img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
               }
            }
         }
         &-btn {
            height: 8.7rem;
            display: flex;
            align-items: center;
            padding: 1rem 6.3rem;
         }

         &.no-price {
            margin-top: 12rem;
         }
      }
   }
}

@media (max-width: 48em) {
   .card {
      margin-bottom: 23vw;
      &__inner {
         display: block;
         background: transparent;
         border-radius: 0;
         padding: 0;
         margin-bottom: 0;
      }
      &__add {
         background: $white;
         border-radius: 5rem;
         padding: 2.4rem 7.9rem 2.8rem 6rem;
         display: flex;
         align-items: center;
         justify-content: space-between;
         &-title {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 141%;
            width: 13%;
         }
         &-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 74.1%;
         }
         &-item {
            position: relative;
            &:not(:last-child) {
               &::after {
                  position: absolute;
                  content: '';
                  right: -4rem;
                  top: 1rem;
                  width: 1.2px;
                  bottom: 1rem;
                  background-color: #E2E9E9;
               }
            }
            &-name {
               font-weight: 700;
               font-size: 2.2rem;
               line-height: 145%;
               margin-bottom: 0.9rem;
            }
            &-info {
               display: flex;
               align-items: center;
               &-img {
                  width: 5.5rem;
                  height: 5.5rem;
                  border-radius: 50%;
                  margin-right: 1.5rem;
                  & img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     border-radius: 50%;
                  }
               }
               &-i {
                  font-weight: 700;
                  font-size: 2.7rem;
                  line-height: 100%;
                  letter-spacing: 0.05em;
                  text-transform: uppercase;
                  display: flex;
                  align-items: center;
                  width: 68%;
                  &>span {
                     font-size: 1.4rem;
                     letter-spacing: 0;
                     line-height: 140%;
                  }
               }
            }
            &:nth-child(2) {
               & .card__add-item-info-i {
                  align-items: flex-start;
               }
            }
            &:nth-child(3) {
               & .card__add-item-info-i {
                  align-items: flex-end;
               }
            }
         }
      }
      &__slider {
         margin-top: 0;
         width: 100%;
         background-color: $white;
         border-radius: 13vw;
         padding: 7.7vw 5.13vw 9.25vw 5.13vw;
         margin-bottom: 8.2vw;
         &-header {
            margin-bottom: 12.3vw;
            margin-left: 0;
            &-logo {
               width: 26.4vw;
               height: 4.62vw;
            }
            &-like {
               width: 5.9vw;
               height: 5.13vw;
               &::after {
                  width: 5.9vw;
                  height: 5.13vw;
               }
            }
         }
      }
      &__big {
         &-swiper {
            width: 100%;
            height: 77.51vw;
            border-radius: 13vw;
            margin-bottom: 9.24vw;
         }
         &-slide {
            border-radius: 13vw;
            & img {
               border-radius: 13vw;
            }
         }
      }
      &__big {
         &-swiper2 {
            width: 100%;
            height: 77.51vw;
            border-radius: 0;
            margin-bottom: 16.17vw;
            margin-left: 0;
            margin-top: 0;
         }
      }
      &__small {
         &-swiper {
            width: 75%;
            height: 14.8vw;
         }
         &-slide {
            border-radius: 16.14vw;
            & img {
               border-radius: 16.14vw;
            }
         }
      }
      &__btn-next {
         bottom: 16.5vw;
         right: 8vw;
      }
      &__btn-prev {
         bottom: 16.5vw;
         left: 8vw;
      }
      &__content {
         width: 100%;
         background: transparent;
         border-radius: 8.5rem;
         padding: 0;
         &-title {
            margin-bottom: 6vw;
         }
         &-header {
            margin-bottom: 6.16vw;
            &-art {
               font-size: 3.6vw;
               line-height: 150%;
            }
            &-in {
               font-size: 3.6vw;
               line-height: 150%;
               padding: 3.08vw 3.85vw 2.3vw 10.52vw;
               &::after {
                  left: 3.85vw;
                  width: 3.85vw;
                  height: 3.85vw;
                  box-shadow: 1.2rem 2rem 6rem rgba(0, 0, 0, 0.05);
               }
            }
         }
         & h1 {
            margin-bottom: 6vw;
         }
         &-colors {
            margin-bottom: 6.2vw;
         }
         &-color {
            width: 6.2vw;
            height: 6.2vw;
            box-shadow: 1.2vw 2rem 6rem rgba(0, 0, 0, 0.05);
            border: 1.2vw solid $white;
            &:not(:last-child) {
               margin-right: 2.55vw;
            }
         }
         &-info {
            display: block;
            margin-bottom: 15vw;
            &-text {
               width: 100%;
               line-height: 128%;
               font-size: 4.62vw;
               margin-bottom: 6.16vw;
            }
            &-selects {
               width: 100%;
            }
            &-select {
               position: relative;
               &::after {
                  bottom: -2.3vw;
               }
               &:not(:last-child) {
                  margin-bottom: 9.25vw;
               }
               & .select-dropdown {
                  top: 7vw;
                  border-radius: 5vw;
               }
            }
         }
         &-costs {
            margin-bottom: 9.75vw;
            &-cost {
               font-size: 7.7vw;
               line-height: 111%;
               margin-right: 2.05vw;
               &>span {
                  margin-left: 1.02vw;
                  font-size: 4.1vw;
                  line-height: 120%;
               }
            }
            &-sale {
               font-size: 5.13vw;
               line-height: 145%;
               &>span {
                  font-size: 3.08vw;
                  line-height: 200%;
               }
            }
         }
         &-btns {
            justify-content: space-between;
            &-quantity {
               margin-right: 0;
               padding: 1vw 5.5vw 1vw 5.5vw;
               height: 12.8vw;
               &-minus {
                  width: 8.5vw;
                  height: 8vw;
                  padding: 2vw;
               }
               &-num {
                  font-size: 5.13vw;
                  line-height: 145%;
                  width: 10vw;
                  margin: 0 3.8vw 0 3.6vw;
               }
               &-plus {
                  width: 8vw;
                  height: 8vw;
                  padding: 2vw;
               }
            }
            &-btn {
               height: 12.8vw;
               padding: 3.7vw 9.75vw;
            }

            &.no-price {
               margin-top: 10rem;
            }
         }
      }
   }
}
