.reviews {
	position: relative;
	padding-bottom: 31.3rem;

	&__inner {
		position: relative;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-bottom: 5.5rem;
	}

	&__slider {
		$margin: 3rem;
		width: calc(100% + $margin * 2);
		margin: -$margin;
		padding: $margin;
		overflow: hidden;
	}

	&__swiper {
		overflow: visible;
	}

	&__slide {
		display: flex;
		max-width: 29.6rem;
		height: 63.6rem;
		position: relative;
		z-index: 1;
		transition: transform 1s;
		user-select: none;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: 500ms;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			box-shadow: 0 0 2rem 0 rgba(221, 221, 221, 0.7);
			border-radius: 10px;
			overflow: hidden;
		}

		a {
			display: block;
			pointer-events: none;
		}

		&.swiper-slide-active {
			z-index: 99;
			transform: scale(1) !important;

			&::before {
				pointer-events: none;
			}

			a {
				pointer-events: auto;
			}
		}

		$translate: 20%;
		$scale1: 0.8141891891891892;
		$scale2: 0.6148648648648649;
		$scale3: 0.4966216216216216;
		$scale4: 0.3175675675675676;
		$scale5: 0.222972972972973;

		
		&.after_slide,
		&.before_slide {
			&1 {
				transform: scale($scale1) translateX($translate);
				z-index: 9;
				&::before {
					background: rgba(255, 255, 255, 0.2);
				}
			}
			
			&2 {
				transform: scale($scale2) translateX($translate * 4);
				z-index: 8;
				&::before {
					background: rgba(255, 255, 255, 0.25);
					backdrop-filter: blur(0.5px);
				}
			}

			&3 {
				transform: scale($scale3) translateX($translate * 9.8);
				z-index: 7;
				&::before {
					background: rgba(255, 255, 255, 0.3);
					backdrop-filter: blur(1px);
				}
			}

			&4 {
				transform: scale($scale4) translateX($translate * 25);
				z-index: 6;
				&::before {
					background: rgba(255, 255, 255, 0.45);
					backdrop-filter: blur(1.5px);
				}
			}
			
			&5 {
				transform: scale($scale5) translateX($translate * 53);
				z-index: 5;
				&::before {
					background: rgba(255, 255, 255, 0.6);
					backdrop-filter: blur(2px);
				}
			}

			&6 {
				transform: scale(0.2) translateX($translate * 45);
				opacity: 0.5;
				z-index: 4;
			}
		}

		&.after_slide {
			&1 {
				transform: scale($scale1) translateX(-$translate);
			}

			&2 {
				transform: scale($scale2) translateX(-$translate * 4);
			}

			&3 {
				transform: scale($scale3) translateX(-$translate * 9.8);
			}

			&4 {
				transform: scale($scale4) translateX(-$translate * 25);
			}

			&5 {
				transform: scale($scale5) translateX(-$translate * 53);
			}

			&6 {
				transform: scale(0.2) translateX(-$translate * 45);
			}
		}

	}

	&__btn-next {
		top: unset;
		right: unset;
		bottom: -6.1rem;
		left: 19rem;

		&::after {
			background-image: url(../img/icon/arrow-slider.svg);
		}
	}

	&__btn-prev {
		top: unset;
		bottom: -8.3rem;
		left: 12rem;

		&::after {
			background-image: url(../img/icon/arrow-slider.svg);
		}
	}

	&__btn-slash {
		bottom: -3.8rem;
		left: 15.3rem;
		z-index: 2;

		&::after {
			background-color: #c7cbcc;
		}
	}

	&__swiper-pagination {
		bottom: -5.8rem;
		left: -0.2rem;

		& .current {
			color: $fzAll;
		}
	}

	&__swiper-bullet {
		bottom: -8.1rem;
		right: 0;

		& .swiper-pagination-bullet {
			background-color: #d5dfdf;
		}

		& .swiper-pagination-bullet-active {
			background-color: #7ac361;
			margin: 0 0.5rem;
		}
	}
}


.text_anim {
	position: relative;
	width: 31rem;
	height: 6.8rem;
}

.word {
	position: absolute;
	top: 0;
	right: 2rem;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.letter {
	display: inline-block;
	position: relative;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
}

.letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
	transform: rotateX(-90deg);
}

.letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
	color: #8e44ad;
}

.belize {
	color: #2980b9;
}

.pomegranate {
	color: #c0392b;
}

.green {
	color: #16a085;
}

.midnight {
	color: #2c3e50;
}

.fancybox__container {
    --fancybox-bg: rgba(255, 255, 255, 0.7);
}

@media (max-width: 48em) {
	.reviews {

		&__title {
			margin-bottom: 3.3vw;
		}

		&__slider {
			$margin: 4rem;
			width: calc(100% + $margin * 2);
			margin: -$margin;
			padding: $margin;
		}

		&__slide {
			height: auto;

			&-img {
				width: 58vw;
				height: 69.3vw;
				margin-left: 17vw;
				margin-bottom: 12vw;
				z-index: 2;
			}

		}

		&__btn-next {
			top: unset;
			right: 3vw;
			bottom: -16vw;
			left: unset;
		}

		&__btn-prev {
			top: unset;
			bottom: -22vw;
			left: unset;
			right: 21vw;
		}

		&__btn-slash {
			bottom: -11vw;
			left: unset;
			right: 12vw;
		}

		&__swiper-pagination {
			bottom: -16.5vw;
			left: 0;
		}

		&__swiper-bullet {
			right: 50%;
			transform: translateX(50%);

			& .swiper-pagination-bullet {
				background-color: #D1D4D3;
				margin: 0 0.5rem;
			}

			& .swiper-pagination-bullet-active {
				background-color: $green;
				margin: 0 0.5rem;
			}
		}
	}
}



.custom_slider_wrap {
	position: relative;
	width: 100%;
	height: 63.6rem;
}

.custom_slide {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 29.6rem;
	height: 63.6rem;
}