@import "_color";
@import "_fonts";
@import "_set";
@import "_general";
@import "_header";
@import "_baner";
@import "_category";
@import "_hang";
@import "_block";
@import "_forms";
@import "_projects";
@import "_certificates";
@import "_steps";
@import "_info";
@import "_pride";
@import "_suggest";
@import "_questions";
@import "_description";
@import "_catalog";
@import "_basket";
@import "_checkout";
@import "_products";
@import "_card";
@import "_modal";
@import "_specification";
@import "_inblock";
@import "_services";
@import "_contacts";
@import "_sad";
@import "_sa";
@import "_articles";
@import "_article";
@import "_news";
@import "_clients-det";
@import "_dio";
@import "_about";
@import "_order";
@import "_work";
@import "_add";
@import "_lk";
@import "_licab";
@import "_cost";
@import "_furniture";

@import "_footer";

@import "animate-site";
@import "modal-search";
@import "catalog-pagination";
@import "popup-order";
@import "burger";

.modal-request {
  .modal__content {
    background: rgba(255, 255, 255, 0.3);
  }
}
.textHighlight {
  box-shadow: 0 0 2px 2px rgba(#7AC361, 70%);
  background: rgba(#7AC361, 70%);
}